body{
 background-image: url("imagenes/fondo.jpg");
 background-size: cover;
 font-style: roboto;
}
.cuerpo{
	color: white;
	text-align: center;
}
.titulo{
	font-size: 50px;
	color: #FF6510;
	font-weight: bold;
}
